on:
  push:
    branches:
    - main

permissions:
  contents: write
  
jobs:
  frontend:
    name: Build frontend
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: | 
          cd frontend 
          docker build -t frontend:${{ github.sha }} .
      
      - name: Tag the image
        run: |
          docker tag frontend:${{ github.sha }} ghcr.io/macfatty/ocp-guestbook-orgi-frontend:${{ github.sha }}
          docker tag frontend:${{ github.sha }} ghcr.io/macfatty/ocp-guestbook-orgi-frontend:latest
      - name: Login docker
        run: docker login --username macfatty --password ${{ Secrets.DOCKER_TOKEN }} ghcr.io
      
      - name: Push the images
        run: |
          docker push ghcr.io/macfatty/ocp-guestbook-orgi-frontend:${{ github.sha }}
          docker push ghcr.io/macfatty/ocp-guestbook-orgi-frontend:latest
